/* Vista Principal */
.pokedex-view {
    max-width: 576px;
    height: 100vh;
    background-color: #FFC1E3;
    /* Fondo de la Pokédex */
    border: 3px solid #F48FB1;
    /* Borde de la Pokédex */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Encabezado */
.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 2rem;
    color: #FFCA28;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #AD1457;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Botones de Navegación */
.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.nav-btn {
    background-color: #F8BBD0;
    border: 2px solid #F48FB1;
    border-radius: 15px;
    padding: 10px 20px;
    color: #880E4F;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-btn:hover:not([disabled]) {
    background-color: #F06292;
    color: white;
}

/* Contenedor del Pokémon y Puntos */
.pokemon-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #FFF1F8;
    /* Fondo del contenedor del Pokémon */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Puntos Debajo del Pokémon */
.points {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.point {
    background-color: #F06292;
    border: 2px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
}

/* Sección Gráfica */
.graph {
    width: 100%;
    height: 100%;
    background-color: #FFEBF0;
    /* Fondo de la sección gráfica */
    border-top-right-radius: 50px;
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icono de la gráfica */
.graph-icon {
    font-size: 2.5rem;
    color: #AD1457;
    margin-right: 10px;
}

/* Animación suave para los puntos */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}