<div class="pokedex-view">
    <!-- Encabezado con icono y título -->
    <header class="header">
        <img src="https://cdn-icons-png.flaticon.com/512/188/188987.png" 
             alt="Pokeball Icon" class="icon">
        <span class="title">Cute Pokédex</span>
    </header>

    <!-- Sección de botones de navegación -->
    <nav class="nav-buttons">
        <button class="nav-btn">← Prev</button>
        <button class="nav-btn">Next →</button>
    </nav>

    <!-- Contenedor principal de la Pokédex -->
    <section class="pokedex">
        <span class="point"></span>
        <span class="point"></span>
    </section>

    <!-- Sección gráfica -->
    <section class="graph">
        <app-graph></app-graph>
    </section>
   
</div>
